/* Table Styling */
.o_list_view .o_list_table {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    width: 600px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.o_list_view .o_list_table tbody > tr {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.o_list_view .o_list_table tbody > tr:hover {
    background-color: #f8f9fa;
    transform: scale(1.02);
}

.o_list_view .o_list_table tbody > tr > td {
    padding: 0.5rem;
    vertical-align: middle;
    width :700px;
}

.o_list_view .o_list_table tbody > tr.o_list_row_danger {
    background-color: #f8d7da !important;
}

.o_list_view .o_list_table tbody > tr.o_list_row_success {
    background-color: #d4edda !important;
}

.o_list_view .o_list_table tbody > tr.o_list_row_warning {
    background-color: #fff3cd !important;
}
